header {background-color: #a59cf7;}
#pair1 {color: #fafafa;}
#number3 {color: blue;}
.doctor {color: #fdb821;}
#bigguy {background-color: #fffb1b;}
#red {color: #fd0000;}
.cma {color: #fffb1b; background-color: #006400;}
#green {background-color: #97f197;}
#boo {background-color: #fffb1b;}
.food {color: #fd0000;}
a {color: #005c08;text-decoration: none;} 
a:hover {color: #fd0000; text-decoration: underline;}