body {background-image: linear-gradient(to bottom, #f5e8aa, #f7e174, #ecd14b); background-repeat: no-repeat; height: 100%; background-position: center; background-size: cover;}
#wrapper {margin: 1em auto; padding: 0; width: 960px; display: grid; grid-template-rows:100px, auto, 75px ; background-image: linear-gradient(to bottom, white, #cdd4f5, #aab7f5); border: 5px solid black;}
h1 {font-family: 'Edu TAS Beginner', cursive; text-decoration: underline; color: black; margin-top: 15px; margin-left: 15px; font-weight: bolder; text-align: center; font-size: 70px;}


h2 {font-family: 'Edu TAS Beginner', cursive; margin-left: 20px; color: black; padding: 0; border: 0; text-align: center;}

hr {border: 1px solid black; margin-left: 20px; margin-right: 20px; margin-top: 1px;text-align: center;}

p {font-family: 'Edu TAS Beginner', cursive; margin: 20px; text-align: justify; font-size: large;}

header {text-decoration: none; grid-column: span 12; margin: 0;}

nav {grid-column: span 6; font-family: 'Edu TAS Beginner', cursive; color: black; font-weight: bold;}
nav ul {list-style-type: none; padding: 0; text-align: center;}
nav li {display: inline-block; width: 23.2%; margin: 2px; font-weight: bold; padding: 2px; border: 2px black solid;  border-radius: 10px;box-shadow: 10px 10px 10px black; /* x, y, blur, color */}

main {grid-column: span 8;}

.h2 {text-align: center;}

.floating {float: left; padding: 0px; margin: 15px; border: 2px solid black; border-radius: 500px;box-shadow: 10px 10px 10px black; /* x, y, blur, color */}
.floating1 {float: right; border: 2px solid black; padding: 0px; margin: 15px; border-radius: 10px;box-shadow: 10px 10px 10px #000000;}
.floating-right {float: left; padding: 0px; width: 180px; border: 2px solid black; background-color: #ccc; border-radius: 10px; box-shadow: 10px 10px 10px black}
.floating-right1 {float: left; border: 2px solid black; padding: 0px; margin: 15px; border-radius: 10px;box-shadow: 10px 10px 10px #000000; height: 450px; /* x, y, blur, color */}




.float {float: right; border: 2px solid black; border-radius: 500px;box-shadow: 10px 10px 10px black; /* x, y, blur, color */}
img {width: 250px; margin-left: 20px; margin-right: 20px;}

footer {grid-column: span 12; background-image: linear-gradient(to bottom, #aab7f5,#cdd4f5, white,  ); display: block; margin-left: auto; margin-right: auto;}

.mao {padding: 0px; width: 190px; border: 2px solid black; background-color: #ccc; border-radius: 10px; float:right; box-shadow: 10px 10px 10px black}

a {text-decoration: none; color: #F5aab7;}
a:hover{text-decoration: underline; color: #aab7f5;}

audio {float: center;}

.e {color: black;}

.para {text-align: center; font-weight: bold;}
.res {color: #000000; text-decoration: underline; font-weight: bold;}

.heart { display: block; margin-left: auto; margin-right: auto; border: 2px solid black; padding: 0px; border-radius: 10px;box-shadow: 10px 10px 10px #000000;}

#cent {margin: 40px; text-align: justify;}

.float2 {padding: 0px; width: 180px; border: 2px solid black; background-color: #ccc; border-radius: 10px; float:right; box-shadow: 10px 10px 10px black}

p a:hover {color: #F5aab7;}