body {background-color: grey;}
#wrapper {margin: 1em auto; padding: 0; width: 960px; display: grid; grid-template-rows:100px, auto, 75px ; background-color: white; border: 6px solid #2700d6;}



h1 {font-family: Arial, Helvetica, sans-serif; text-decoration: none; font-style: italic; color: rgb(137, 222, 255); margin-top: 15px; margin-left: 15px; font-weight: normal;}
h1 a {text-decoration: none; color: #b2e6ec;}
h1 a:hover {color: white;}

h2 {font-family: Arial, Helvetica, sans-serif; margin-left: 20px; color: blue; padding: 0; border: 0;}

hr {border: 2px solid blue; margin-right: 20px;}

p {font-family: Georgia, 'Times New Roman', Times, serif; margin: 20px;}
p a {font-weight: bold; color: red; text-decoration: none;}
p a:hover {color: rgb(156, 0, 0); text-decoration: none;}

header {text-decoration: none; background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #001f74, #001563 );
     grid-column: span 12; border-bottom: 6px solid #2700d6; margin: 0;}

nav ul {list-style-type: none; padding: 0;}
nav li {display: block; width: 23.2%; margin: 2px; font-weight: bold; padding: 10px 5px 10px 5px;}
nav li a {text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: rgb(137, 222, 255); display: block; padding: 10px;
    background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #001f74, #001563);}
nav li a:hover {color: aliceblue;}

.floating {float: left; border: 4px solid #2700d6; padding: 0px; margin: 15px;}
.floating-right {float: right; border: 4px solid #2700d6; padding: 0px; margin: 15px;}

.Line {border: 2px solid blue; margin-left: 20px;}
.Line2 {border: 2px solid blue; margin-left: 20px; margin-bottom: 25px;}
.Line3 {border: 2px solid blue; margin-left: 16px;}

main {grid-column: span 8;}
.reversed {grid-column: span 4; background-color: #b2e6ec; text-align: justify; font-weight: bold;}
.stuck {grid-column: span 4;}
.unstuck {grid-column: span 4;}
.confident {grid-column: span 4;}

.difficult {grid-column: span 4; background-color: #b2e6ec;}
.confused {grid-column: span 8;}

.image {grid-column: span 4; width: 280px; margin-left: 20px;}

.nav {float: left; grid-column: span 3;}

.justify {text-align: justify; font-weight: bold;}

nav {grid-column: span 12;}

footer {background-color: red; grid-column: span 12; border-top: 6px solid #2700d6;}

span { opacity: 0; }