h1 {font-family: Arial, Helvetica, sans-serif; font-weight: normal; background-color: black; color: #ffffff; margin: 15px; border: 50px;}
h2 {font-family: Arial, Helvetica, sans-serif;}
p {font-family: Georgia, 'Times New Roman', Times, serif; text-align: justify ; margin: 20px;}
p a {text-decoration: none; color: crimson; font-weight: bold;}
p a:hover {text-decoration: underline; color: blue; font-weight: bold;}
nav ul {font-family: Arial, Helvetica, sans-serif; list-style-type: none; display: block;}
nav li {border: 1px solid crimson; width: 150px; margin: 10px; background-color: crimson; color: #ffffff;}
nav li a {text-decoration: none; color: #ffffff; display: block; padding: 10px;}
nav li a:hover {background-color: rgb(139, 0, 0);}
body {background-image:url(a62.png);}
#wrapper {margin: 1em auto; padding: 0; width: 960px; display: grid; grid-template-columns: repeat(12, 1fr);}
header {grid-column: span 12;}
nav {grid-column: span 3;}
main {grid-column: span 9;}
footer {grid-column: span 12; border: 2px solid #000000;}
div {background-color: #ffffff; border: 3px solid #000000; padding: 15px;}
img {border: 4px solid #000000; padding: 5px; margin: 10px;}
#bold {font-weight: bold;}
hr {border: 2px solid; margin-right: 20px;}
footer {font-style: italic; background-color: crimson; padding-left: 20px ; padding-right: 20px; color: #ffffff;}
#foot {font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: center;}
.floating {float: left;}