body {background-image: linear-gradient(to bottom, #f5e8aa, #f7e174, #ecd14b); background-repeat: no-repeat; height: 100%; background-position: center; background-size: cover;}
#wrapper {margin: 1em auto; padding: 0; width: 960px; display: grid; grid-template-rows:100px, auto, 75px ; background-color: white; border: 5px solid black;}
h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-decoration: underline; font-style: italic; color: #aab7f5; margin-top: 15px; margin-left: 15px; font-weight: bolder; text-align: center;}


h2 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left: 20px; color: black; padding: 0; border: 0;}

hr {border: 1px solid black; margin-left: 20px; margin-right: 20px; margin-top: 1px;}

p {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin: 20px; text-align: justify;}

header {text-decoration: none; grid-column: span 12; margin: 0;}

nav {grid-column: span 6; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #F5aab7; font-weight: bold;}
nav ul {list-style-type: none; padding: 0; text-align: center;}
nav li {display: inline-block; width: 23.2%; margin: 2px; font-weight: bold; padding: 2px; border: 2px black solid;}



main {grid-column: span 8;}

.h2 {text-align: center;}

.floating {float: left; padding: 0px; margin: 15px; border: 2px solid black;}
.floating1 {float: right; padding: 0px; margin: 15px;}
.floating-right {float: left; border: 2px solid black; padding: 0px; margin: 15px; width: 150px;}
.floating-right1 {float: left; border: 2px solid black; padding: 0px; margin: 15px;}
.float {float: right; border: 2px solid black;}
img {width: 250px; margin-left: 20px; margin-right: 20px;}

footer {grid-column: span 12; border-top: 5px solid black;}

